<div class="row">
    <%= form_for@profile, html: { class: 'form-horizontal'} do |f| %>
      <% if @profile.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

          <ul>
          <% @profile.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

  
    <% if current_user %>
    <% #todo depende de que usuario sea, se desplegaran opciones %>
       <% if current_user.profile.role=="Admin" %>  
           <div class="control-group">
            <%= f.label :role, class: 'control-label' %><br>
             <div class="controls">
               <%= f.select( :role, options_for_select([['Admin','Admin'],['Operator','Operator'],['Client','Client']])) %>
             </div>
          </div>
      <% elsif current_user.profile.role=="Operator" %>    
          <div class="control-group">
            <%= f.label :role, class: 'control-label' %><br>
             <div class="controls">
               <%= f.select( :role, options_for_select([['Operator','Operator'],['Client','Client']])) %>
             </div>
          </div>
       <% else %>    
          <div class="control-group">
            <%= f.label :role, class: 'control-label' %><br>
             <div class="controls">
               <%= f.select( :role, options_for_select([[' ',' '],['Client','Client']])) %>
             </div>
          </div>
       <% end %>
    <% end %>
  
  
       <div class="control-group">
        <%= f.label :cedula, class: 'control-label' %><br>
         <div class="controls">
          <%= f.text_field :cedula %>
         </div>
      </div>
       <div class="control-group">
        <%= f.label :name, class: 'control-label' %><br>
         <div class="controls">
          <%= f.text_field :name %>
         </div>
      </div>
       <div class="control-group">
        <%= f.label :lastname, class: 'control-label' %><br>
         <div class="controls">
          <%= f.text_field :lastname %>
         </div>
      </div>
      <div class="control-group">
        <%= f.label :phone, class: 'control-label' %><br>
        <div class="controls">
          <%= f.text_field :phone %>
        </div>
      </div>
       <div class="control-group">
        <%= f.label :address, class: 'control-label' %><br>
         <div class="controls">
          <%= f.text_field :address %>
         </div>
      </div>
       <div class="control-group">
        <%= f.label :agency_id, class: 'control-label' %><br>
         <div class="controls">
          <%= f.text_field :agency_id %>
         </div>
      </div>
       <div class="control-group">
         <div class="controls">
           <%= f.submit 'Update Profile', class: 'btn btn-default'%>
         </div>
      </div>
    <% end %>
</div>