<div class="row">
  <%= form_for @agency, html: { class: 'form-horizontal'} do |f| %>
    <% if @agency.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@agency.errors.count, "error") %> prohibited this agency from being saved:</h2>

        <ul>
        <% @agency.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

   <div class="control-group">
      <%= f.label :name, class: 'control-label' %><br>
     <div class="controls">
        <%= f.text_field :name %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :phone, class: 'control-label' %><br>
      <div class="controls">
        <%= f.text_field :phone %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :address, class: 'control-label' %><br>
      <div class="controls">
        <%= f.text_field :address %>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
       <%= f.submit 'Submit', class: 'btn btn-default'%>
      </div>
    </div>
  <% end %>
</div>