<h1>Listing agencies</h1>

<div class="media">
  <div class="media-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Phone</th>
          <th>Address</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @agencies.each do |agency| %>
        <tr>
          <td><%= agency.name %></td>
          <td><%= agency.phone %></td>
          <td><%= agency.address %></td>
          <td><%= link_to 'Show', agency, class:'btn btn-mini' %></td>
          <td><%= link_to 'Edit', edit_agency_path(agency), class:'btn btn-mini btn-success'  %></td>
          <td><%= link_to 'Destroy', agency, method: :delete, class:'btn btn-mini btn-danger', data: { confirm: 'Are you sure?' }  %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<br>

<%= link_to 'New Agency', new_agency_path %>
