<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @agency.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @agency.phone %>
</p>

<p>
  <strong>Address:</strong>
  <%= @agency.address %>
</p>

<%= link_to 'Edit', edit_agency_path(@agency) %> |
<%= link_to 'Back', agencies_path %>
