<div class="row">
  <%= form_for@rate, html: { class: 'form-horizontal'} do |f| %>
    <% if @rate.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@rate.errors.count, "error") %> prohibited this rate from being saved:</h2>

        <ul>
        <% @rate.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

   <div class="control-group">
      <%= f.label :creator_id, class: 'control-label' %><br>
      <div class="controls">
        <%= f.number_field :creator_id %>
      </div>
    </div>  
   <div class="control-group">
      <%= f.label :constant , class: 'control-label'%><br>
      <div class="controls">
        <%= f.text_field :constant %>
      </div>
    </div>
   <div class="control-group">
      <%= f.label :value_bs, class: 'control-label' %><br>
      <div class="controls">
        <%= f.text_field :value_bs %>
      </div>
    </div>
   <div class="control-group">
      <div class="controls">
       <%= f.submit 'Submit', class: 'btn btn-default'%>
      </div>
    </div>
  <% end %>
</div>