<p id="notice"><%= notice %></p>

<p>
  <strong>Creator:</strong>
  <% @busca = @rate.creator_id; @busca = Profile.find(id=@busca); @busca = @busca.name  %>
  <%= @busca; %>
</p>

<p>
  <strong>Constant:</strong>
  <%= @rate.constant %>
</p>

<p>
  <strong>Value bs:</strong>
  <%= @rate.value_bs %>
</p>

<%= link_to 'Edit', edit_rate_path(@rate) %> |
<%= link_to 'Back', rates_path %>
