<!DOCTYPE html>
<html>
<head>
  <title>Courier</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <div class="container">
    <ul class="nav nav-tabs">  
       <li> <%= link_to "Home" , welcome_index_path %></li>
       <li> <%= link_to "Agencies" , agencies_path %></li>
       <li><%= link_to "Packages" , packages_path %></li>
       <li> <%= link_to "Rates" , rates_path %></li>
       <li> <%= link_to "Users" , root_path %></li>
       <li><%= link_to "Roles" ,  profiles_path %></li>
       <li><%= link_to "Pricing" , welcome_pricing_path %></li>
       <li> <%= link_to "About Us" , welcome_about_path %></li>

      <% if current_user %>  
      <% @user = current_user.id %>
      <% session[:id] = @user%>
      <% params[:id]= @user%>
      <li><%= link_to "My Profile" , edit_profile_path(params[:id]) %></li>
        <li><%= link_to "Sign Out" , destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "Sign Up" , new_user_registration_path %></li>
        <li><%= link_to "Sign In" , new_user_session_path %></li>
      <% end %>
      
    </ul>
      
      
    <% if flash[:notice] %>
      <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:notice] %>
      </div>
    <% elsif flash[:error] %>
      <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:error] %>
      </div>
    <% elsif flash[:alert] %>
      <div class="alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:alert] %>
      </div>
    <% end %>
    
    <% if current_user %>  
      <%= current_user.email %>
    <% end %>  
    <% if current_user%>  
      <% if current_user.profile %>
        <% @profile = current_user.profile %>
          <% if @profile.name =="Unknow" %>
            <%= "Please Edit your profile Mr. #{@profile.name}"  %>  
          <% else %>
            <%= "Welcome back #{@profile.name}"  %>  
          <% end %>
      <% else %>
        <% pr = Profile.new %> 
        <% pr.role="Unknow"; pr.cedula="0"; pr.name="Unknow"; pr.lastname= "Unknow"; pr.phone="0000-0000000"; pr.address="Unknow"; pr.agency_id=1; pr.user_id=current_user.id %>
        <% pr.save %>
      <% end %>
    <% end %>  
    
    
    <%= yield %>
      
  </div>      
</body>
</html>
